<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img src="{./images/logo.png}" alt="">
                <h2>Family Furniture & Matress</h2>
            </div>
            <div class="close" id="close-btn"></div>
            <i class="fa-solid fa-circle-xmark"></i>
        </div>
        <div class="sidebar">
            <a href="#">
                <i class="fa-solid fa-grid-horizontal"></i>
                <h3>DashBoard</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-grid-horizontal"></i>
                <h3>DashBoard</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-grid-horizontal"></i>
                <h3>DashBoard</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-user"></i>
                <h3>Customers</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-bags-shopping"></i>                <h3>Orders</h3>
            </a>
            <a href="#">
                <i class="fa-regular fa-chart-mixed"></i>                <h3>Analytics</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-messages"></i>                <h3>Messages</h3>
                <span class="message-count"></span>
            </a>
                <a href="#">
                    <i class="fa-solid fa-grid-horizontal"></i>
                    <h3>Products</h3>
                </a>
                <a href="#">
                    <i class="fa-solid fa-triangle-exclamation"></i>                    <h3>Reports</h3>
                </a>
            </a>
            <a href="#">
                <i class="fa-regular fa-gear"></i>                <h3>Settings</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-plus"></i>                <h3>Add Product</h3>
            </a>
            <a href="#">
                <i class="fa-solid fa-right-from-bracket"></i>                <h3>Logout</h3>
            </a>
        </div>
    </aside>
</div>