{% extends 'base.html' %}
{% load static %}
{% block content %}
<h4><strong>Shop Department</strong></h4>
<div class="main-wrapper">
    <div class="cabinet">
        <div class="main-title">
           Sectionals
        </div>
        <a href="{% url 'shopping' %}">
            <button type="button" class="btn">
                Browse
            </button>
            </a>
        <div class="item-list">
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'store/images/sectional.png' %}" alt="couch">
                    <div class="icon-list">
                        <button type="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                        <button type="button">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                </div>
                <div class="item-detail">
                    <a href="#" class="item-name">Sectional</a>
                    <div class="itemprice">
                        <span class="pricing">Call for Avalibility</span>
                    </div>
                    <p>sit back and relex on your new comfortable sectional</p>
                    <button type="button" class="add-btn">add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-wrapper">
    <div class="cabinet">
        <div class="main-title">
           Dinning Room
        </div>
        <a href="http://awfco.com/dining/">
            <button type="button" class="btn">
                Browse
            </button>
        <div class="item-list">
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'store/images/dinning.png' %}" alt="couch">
                    <div class="icon-list">
                        <button type="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                        <button type="button">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                </div>
                <div class="item-detail">
                    <a href="#" class="item-name">Dinning Room Sets</a>
                    <div class="itemprice">
                        <span class="pricing">Call for Avalibility</span>
                    </div>
                    <p>sit back and relex on your new comfortable sectional</p>
                    <button type="button" class="add-btn">add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="main-wrapper">
    <div class="cabinet">
        <div class="main-title">
           Mattress
        </div>
        <a href="http://awfco.com/bedding/">
            <button type="button" class="btn">
                Browse
            </button>
        </div>
        <div class="item-list">
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'store/images/Mattress.jpeg' %}" alt="couch">
                    <div class="icon-list">
                        <button type="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                        <button type="button">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                </div>
                <div class="item-detail">
                    <a href="#" class="item-name">Mattress</a>
                    <div class="itemprice">
                        <span class="pricing">Call for Avalibility</span>
                    </div>
                    <p>sit back and relex on your new comfortable sectional</p>
                    <button type="button" class="add-btn">add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="main-wrapper">
    <div class="cabinet">
        <div class="main-title">
           Chairs
        </div>
        <a href="http://awfco.com/recliner/">
            <button type="button" class="btn">
                Browse
            </button>
        <div class="item-list">
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'store/images/recline.png' %}" alt="couch">
                    <div class="icon-list">
                        <button type="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                        <button type="button">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                </div>
                <div class="item-detail">
                    <a href="#" class="item-name">Recliners</a>
                    <div class="itemprice">
                        <span class="pricing">Call for Avalibility</span>
                    </div>
                    <p>sit back and relex on your new comfortable sectional</p>
                    <button type="button" class="add-btn">add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main-wrapper">
    <div class="cabinet">
        <div class="main-title">
           Couches & Love Seats
        </div>
        <a href="http://awfco.com/stationary-upholstery/">
            <button type="button" class="btn">
                Browse
            </button>
        <div class="item-list">
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'store/images/loveSeat.jpeg' %}" alt="couch">
                    <div class="icon-list">
                        <button type="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                        <button type="button">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                </div>
                <div class="item-detail">
                    <a href="#" class="item-name">Couches & Loves Seats</a>
                    <div class="itemprice">
                        <span class="pricing">Call for Avalibility</span>
                    </div>
                    <p>sit back and relex on your new comfortable sectional</p>
                    <button type="button" class="add-btn">add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="main-wrapper">
    <div class="cabinet">
        <div class="main-title">
           Bed Frames 
        </div>
        <a href="http://awfco.com/bedroom/">
            <button type="button" class="btn">
                Browse
            </button>
        <div class="item-list">
            <div class="item">
                <div class="item-img">
                    <img src="{% static 'store/images/Bed1.jpeg' %}" alt="couch">
                    <div class="icon-list">
                        <button type="button">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </button>
                        <button type="button">
                            <i class="fa-solid fa-heart"></i>
                        </button>
                    </div>
                </div>
                <div class="item-detail">
                    <a href="#" class="item-name">Bedroom Sets</a>
                    <div class="itemprice">
                        <span class="pricing">Call for Avalibility</span>
                    </div>
                    
                    <button type="button" class="add-btn">add to cart</button>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

